# The public domain where Swetrix will be hosted
APP_DOMAIN=analytics.example.com

SWETRIX_VERSION=v5.2.1

# Generate with: openssl rand -hex 64
SECRET_KEY_BASE=

# Redis
REDIS_HOST=redis
REDIS_PASSWORD=

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=swetrix
CLICKHOUSE_USER=swetrix
CLICKHOUSE_PASSWORD=
